<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vietnam Cities/Provinces</title>
    <script src="/js/polygonData.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7bcLgaS8N_W2plAJq7z3MudgXNlF2V4A&map_ids=&loading=async&libraries=marker,places,maps,geometry,core&callback=initMap" defer></script>
</head>
<body>
<div class="container">
    <div class="sidebar">
        <h2>Vùng lãnh thổ</h2>
        <ul id="regions">
            <li th:each="region : ${regions}" th:attr="data-region-id=${region.locationId}" class="regions">
                <span th:text="${region.name}">Test</span>
                <div class="sub-region" th:attr="id='region-' + ${region.locationId}"></div>
            </li>
        </ul>

        <div class="distance-section">
            <h2>Đo khoảng cách</h2>
            <select id="city1">
            <option value="" disabled selected>Chọn thành phố 1</option>
            <option th:each="city : ${cities}" th:attr="value=${city.locationId}" th:text="${city.name}">City</option>
            </select>
            <div><i class="fa-solid fa-arrow-down-long"></i></div>
            <select id="city2">
                <option value="" disabled selected>Chọn thành phố 2</option>
                <option th:each="city : ${cities}" th:attr="value=${city.locationId}" th:text="${city.name}">City
                </option>
            </select>
            <button class="calculate-distance" onclick="calculateDistance()">Tính khoảng cách</button>
            <div id="distance-result" class="distance-result"></div>
        </div>

        <div class="reset-map">
            <i class="fa-solid fa-arrows-rotate fa-flip-both fa-2xl"></i> Reset Map
        </div>
    </div>
    <div id="map" class="map"></div>
</div>
</body>
</html>
